.content{
    background-color: antiquewhite;
    margin: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    text-align: center;
    align-items: center;
    padding: 40px;
   /* color: rgb(27, 118, 236);*/
}