.content{
    background-color: rgb(31, 110, 228);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px;
    text-align: center;
    align-items: center;
    color: white;
}
.content p{
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}
.content button{
    background-color:rgb(38, 132, 240);
   transition: transform 0.3s ease-in-out ,color 0.3s ease-in-out;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
}
.content button#btn1{
    background-color: rgb(245, 200, 103);
}
.content button#btn2{
    background-color: rgb(228, 169, 42);
}
.content button#btn3{
    background-color: rgb(223, 155, 10);
}
.content button#btn4{
    background-color: rgb(187, 134, 20);
}
.content button#btn5{
    background-color: rgb(197, 136, 5);
}
.content button#btn1:hover,.content button#btn2:hover,.content button#btn3:hover,.content button#btn4:hover,.content button#btn5:hover{
    transform: scale(1.05);
    cursor: pointer;
    color: white;
}
